pytz
requests
python-dotenv==0.20.0
click==8.0.3
dj-database-url==1.0.0
python-dateutil

# Django
Django==4.0.6
django-cleanup==5.2.0
django-timezone-field 
django-cors-headers
pillow
whitenoise

# Django 3.0 async requirements
gunicorn==20.1.0
uvicorn
uvloop
httptools
pytest-django==4.5.2

# Databases
psycopg2-binary

# Telegram
python-telegram-bot
python-telegram-bot-pagination==0.0.2

qrcode==7.3.1

